@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #243747;
}

::-webkit-scrollbar-thumb {
  background: #3c5060;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #5b778d;
}
